* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding-inline: 20px;
  margin: auto;
}

h1,
h2 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
  font-family: var(--font-spectral);
}

body {
  font-size: 16px;
  font-family: var(--font-nunito);
}

.hero_section {
  min-height: 640px;
  background: linear-gradient(180deg, #6BB5B5 0%, #008080 136.34%);
  z-index: 1;
}

.hero_section::after {
  background: linear-gradient(180deg, #008080 0%, #001A1A 143.38%);
  position: absolute;
  height: 150px;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.work_section {
  background: url("./assets/workbg.png") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.capnotrainer_section {
  background: url("./assets/capno.png")no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 327px;
  background-position: 56% 50%;
}

.for_cards .for_card {
  max-width: calc(33.33% - 16px);
  width: 100%;
}

.for_cards .for_card:nth-child(4),
.for_cards .for_card:nth-child(5) {
  max-width: calc(50% - 12px);
}

.testimonial_section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 90px;
  background: var(--color-primary);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.btn-box::before {
  content: '';
  background: url("./assets/arroe.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  z-index: 9;
}

.btn-box::after {
  content: '';
  position: absolute;
  background: url("./assets/lining.svg") no-repeat center center;
  right: 35px;
  top: -30px;
  left: auto;
  width: 90px;
  height: 40px;
  z-index: 9;
}

.newsletter_content::before {
  background: url("./assets/conebox.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  width: 250px;
  height: 56px;
  z-index: -1;
}

.newsletter_content::after {
  background: url("./assets/ctwobox.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  max-width: 630px;
  width: 100%;
  height: 180px;
  z-index: -1;
}

@media(max-width:1200px) {

  h1,
  h2 {
    font-size: 30px;
    line-height: normal;
  }

  .hero_section::after {
    height: 100px;
  }
}
@media(max-width:991px){
  .capnotrainer_section{
    background: none;
  }
}
@media(max-width:575px) {
  .hero_section::after {
    height:50px;
  }
  
  .for_cards .for_card,.for_cards .for_card:nth-child(4),
  .for_cards .for_card:nth-child(5) {
    max-width: 100%;
  }
  
}